body {
	overflow: hidden;
}

svg {
    min-height: 650px;
   /* margin: 0 auto;*/
/*    pointer-events: all;*/
/*    width: 100%;*/
}

#container {
	text-align: center;
}

#box {
    position:absolute;
    margin-top: 5%;
    width : 80%;
    height: 80%;
    z-index: 1;
}

#steps {
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    z-index: 2;
}

.progress {
    margin: auto;
}